body, h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    background-color: #F9F9F9;
    line-height: 1;
}
.container{
    width: 1620px;
    margin: 0 auto;
}
header{
    padding: 60px 0;
    border-bottom: 2px solid #FFFFFF;
    background-color: #0C70AC;
}
.header-container{
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
}
.header-list{
    display: flex;
    gap: 80px;

}
.header-link{
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.header-link:hover{
    color: yellow;
}
/* hero */
.hero{
    border-bottom: 2px solid #FFFFFF;
    background-color: #0C70AC;
}
.hero-container{
    display: flex;
    gap: 447px;
}
.hero-title{
    font-weight: 700;
    font-family: "Quicksand";
    font-size: 64px;
    line-height: 100%;
    padding-bottom: 20px;
    color: #FFFFFF;
    width: 663px;
    height: 160px;
}
.hero-text{
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
/* destinations */
.destinations{
    padding-top: 80px;
}
.destinations-container{
    text-align: center;
}
.destinations-title{
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
}
.destinations-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    padding-left: 0;
}
.destinations-name{
    padding-left: 60px;
    font-family: "Quicksand" sans-serif;
    padding-bottom: 15px;
    padding-top: 30px;
    color: #000000;
    font-weight: 500;
}
.destinations-description{
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 30px;
}
.destinations-link{
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 24px;
    text-decoration: underline;
}
.destinations_img{
    width: 520px;
    height: 342px;
    border-radius: 15px;
}
/* blog */
.blog{
    padding-top: 80px;
    background-color: #E6E6E6;
    padding-bottom: 80px;
}
.blog-title{
    font-family: "Quicksand";
    text-align: center;
    font-weight: 600;
    font-size: 40px ;
    padding-bottom: 50px;
}
.blog-item{
    background-color: white;
    border-radius: 8px;
}
.blog-list{
        display: flex;
    justify-content: space-between;
    gap: 30px;
}
.blog-date{
    font-family: "Quicksand";
    font-weight: 600;
    line-height: 100%;
    color: #7C7C7C;
    padding-top: 25px;
    padding-bottom: 25px;
}
.blog-name{
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 24px;
    width: 440px;
    height: 60px;
}
.blog-description{
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 20px;
    color: #7C7C7C;
    padding-bottom: 50px;
}
/* about */
.about{
    padding-top: 80px;
    background-color: #001C2D;
     border-bottom: 2px solid #FFFFFF;
}
.about-title{
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    width: 137px;
    height: 50px;
}
.about-list-img{
    display: flex;
    gap: 25px;
}
.about-link{
    font-family: "Quicksand";
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    width: 104px;
    height: 30px;
}
.about-list-link{
}
.about-img{
    padding-bottom: 80px;
}
.about-wrapper{    
}
.about-list-img{
    flex-wrap: nowrap;
}
/* copyright */
.copyright{
    padding-top: 63px;
    padding-bottom: 63px;
    background-color: #001C2D;
}
.copyright-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
